.caja_flexbox {

    height: 500px;
    width: 800px;
    background-color: rgb(81, 69, 102);
    display: flex;
    flex-direction: inherit;
    /* justify-content: center;
    align-items: end; */

}
.cajita_flexbox {

    height: 100px;
    width: 280px;
    background-color: rgb(141, 53, 66);
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.528);
    border-style: solid;
    margin: 2px;
    
}
.textoinformativo {

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
    font-size: 18px;
}

.subtitulos {

    font-family: 'Arial Narrow', sans-serif;
    font-size: 35px;
    color: white;

}
.Monoton {

    font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 100px;
  
}

.arial{
    font-family: 
}

.textojustificado {

    text-align: justify;
}

.textorojo {
    color: red;
}

.textoblanco {
    color: white;
}

.textogrande {

    font-size: 100px;
}

.textomediano {

    font-size: 35px;
}

.textonormal {

    font-size: 18px;
}

.border{

       border: 5px solid #aa0303;
       text-align: center;
       border-radius: 15px;
}


.Practicas_de_Git {

    width: 1200px;
    height: 950px;
    border: 10px solid red;
    border-radius: 15px;
}

.DivRenglon {

    width: 100%;
    text-align: center;
}